body{
}
nav{
text-align: center;
font-size: 3em;
}
.btn-primary {
	margin-top: 10px;
}
/*.item{
font-size: 2em;
text-align: center;    
}*/
h2{
text-align: center;
}

.tareas {
    background-color: aliceblue;
	border-radius: 10px;
}

#pendiente {
    height: 500px;
	border-radius: 10px;
    background-image: url("papiro.jpg");
}